# Sensitive files
password.txt

# Node.js modules
node_modules/

# Yarn dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build output
/build

# Miscellaneous
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
.env*.local

# Vercel configuration
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

